@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    @font-face {
        font-family: Playfair;
        font-weight: 400;
        font-display: swap;
        src: url(/playfair.ttf); 
    }
    @font-face {
        font-family: Forum;
        font-weight: 400;
        font-display: swap;
        src: url(/forum.ttf); 
    }
}
